<span class="badge @VariantClass">
    @ChildContent
</span>

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Variant { get; set; } = "primary";

    private string VariantClass {
        get => $"bg-{Variant}";
    }
}
